NODE_ENV=development
PORT=3000
#Tamaño maximo en MB
MAX_FILE_SIZE=100
MAX_FILES=20

#Prisma
DATABASE_URL="postgresql://postgres:password@localhost:5432/my_db?schema=public"

# Sesiones
JWT_SECRET=my_secret
JWT_EXPIRES_IN=1d
FRONTEND_URL=https://production_url.dev
