NODE_ENV=development
PORT=3000
#Tamaño maximo en MB
MAX_FILE_SIZE=100
MAX_FILES=20

#Prisma"
DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/my_db?schema=public"

# Sesiones
JWT_SECRET=my_secret
JWT_EXPIRES_IN=1d
FRONTEND_URL=https://production_url.dev

#sftp connection
SFTP_HOST=127.0.0.1
SFTP_PORT=22
SFTP_USERNAME=my_user
SFTP_PASSWORD=my_password
SFTP_KEYCONN=false
SFTP_PRIVATE_KEY_PATH='/'