.header {
    background: linear-gradient(135deg, #800020 0%, #d2042d 100%);
    color: #ededed;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

.header h1 {
    font-size: 18px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .header {
        padding: 25px;
    }

    .header h1 {
        font-size: 24px;
    }
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.icon img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}

.icon h1 {
    font-size: 24px;
    font-weight: 600;
}